/* Slideshow */

.slideshow {
    margin: 0 auto;
    /* overflow: hidden; */
    max-width: 250px;
    height: 500px;
  }

  .slideshowSlider {
    white-space: nowrap;
    transition: ease-in-out 2000ms;
  }

  .slide {
    display: inline-block;

  height: 600px;
  width: 100%;
  border-radius: 40px;
  }

  .location{
    text-align: center;
    margin-top: 250px;
  }

  .line{
    color: rgb(91, 101, 109);
    height: 50px;
  }

  .slide_image{
    
  }